.prettyPlaces {
  padding: 10px;
  font-family: Verdana;
  width: auto;
  max-width: 500px;
  background: darkred;
  color: #fff;
}

.prettyPlaces a {
  color: lightgray;
}


.prettyPlaces a:hover {
  color: darkgray;
}
